fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
google-auth
requests
PyMuPDF
pytesseract
pillow
python-multipart
python-dotenv
redis
fastapi-cache2[redis]
jinja2